@charset "utf-8";body{background:#f4f4f4}
.head-container{background:-webkit-gradient(linear,0 0,0 100%,from(rgba(0,0,0,.5)),to(transparent));position:relative;z-index:10}
.head-container .head-mask{position:absolute;top:0;left:0;width:100%;height:100%;background-color:#000;opacity:0}
.head-container>a.btn-angle-left{position:absolute;z-index:55;display:block;width:.64rem;height:.64rem;top:.11rem;font-size:.55rem;line-height:.64rem;color:#fff;text-align:center;background:rgba(0,0,0,.3);-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%}
.head-container>a.btn-left{left:.2rem!important}
.head-container>a.btn-right{font-size:.36rem;right:.2rem!important}
.head-container>h6{font-size:.36rem;line-height:.88rem;color:#181818;font-weight:400;text-align:center;position:relative;z-index:10}
.de-footer{position:fixed;z-index:999;left:0;bottom:0;width:100%;height:.98rem;padding:0 2.1rem 0 1.58rem;background:#474749}
.de-footer>p{color:#fff}
.de-footer .footer-price{margin-top:.2rem;margin-bottom:.06rem;font-size:.36rem;line-height:.36rem;color:#fff}
.de-footer .footer-price>em{font-size:.2rem;margin-right:.05rem}
.de-footer .footer-post-price{font-size:.24rem;line-height:.24rem;color:#bbb}
.de-footer .shopping-cart{padding:.1rem;position:absolute;z-index:999;display:block;width:1.14rem;height:1.14rem;bottom:.11rem;left:.27rem;background:#4d4d4d;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%}
.de-footer .cart-btn{display:block;width:.94rem;height:.94rem;font-size:.8rem;line-height:.94rem;text-align:center;color:#6e5902;background:#fccf18;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%}
.de-footer .cart-badge{padding:.01rem;position:absolute;z-index:999;top:0;right:-.06rem;display:block;width:.28rem;height:.28rem;font-size:.2rem;line-height:.28rem;color:#fff;text-align:center;overflow:hidden;-ms-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;background:#c00;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%}
.de-footer .get-btn{display:block;position:absolute;z-index:88;right:0;top:0;width:2.1rem;height:.98rem;font-size:.32rem;line-height:.98rem;color:#474749;background:#fccf18;text-align:center}
.de-main-box{background:#fff;border-bottom:1px solid #ddd}
.de-info{position:relative;padding:.2rem 1.26rem 0 .2rem;width:auto;height:.8rem;font-size:.32rem;line-height:.4rem}
.de-info>p{color:#333}
.de-info .de-collection{padding-top:.1rem;position:absolute;z-index:89;right:0;top:0;display:block;width:1rem;height:.8rem;font-size:.2rem;line-height:.2rem;color:#666;text-align:center}
.de-info .de-collection:before{content:"";width:1px;top:.2rem;bottom:0;position:absolute;background-color:#dedede;left:0}
.de-info .de-collection>i{font-size:.3rem;line-height:.4rem;color:#aaa}
.de-info .de-collection.active>i.icon-my-collection:before{content:'\e64d';color:#fccf18}
.de-price{padding:0 .2rem;width:auto;height:1.18rem;font-size:.36em;line-height:1.18rem}
.de-price span.price{display:block;width:auto;height:1.18rem;color:#c00}
.de-price .price>em{font-size:.2rem;margin-right:.06rem}
.de-price .ct-panel{margin-top:.38rem}
.de-price .ct-btn{width:0.44rem;height:0.44rem;background-image:url(../image/numberReduceIcon.png);background-repeat:no-repeat;display:block;background-size:contain;font-size:0;}
.de-price .plus-button{ background-image:url(../image/numberAddIcon.png); background-position:0 0 !important;}
.de-price .ct-input{margin:0 .05rem;width:.7rem;height:.4rem;font-size:.28rem;line-height:22px;color:#666}
.de-tabs{width:auto;height:auto;overflow:hidden}
.de-tabs-switch{padding:.2rem 0;display:-webkit-flex;display:flex;border-bottom:1px solid #ddd}
.de-tabs-switch .tabs-btn{position:relative;height:.4rem;-webkit-flex:1;-moz-flex:1;word-break:break-all;font-size:.28rem;line-height:.4rem;color:#999}
.de-tabs-switch .tabs-btn:first-child{border-right:1px solid #c4c4c4}
.de-tabs-switch .tabs-btn.active{color:#1d1d1d}
.de-tabs-switch .underline{display:none;position:absolute;bottom:-.2rem;left:0;width:100%;height:2px;background:#fccf18}
.de-tabs-switch .tabs-btn.active .underline{display:block}
.tabs-content-panel{margin:.25rem .2rem;width:auto;height:auto;background:#fff}
.tabs-content-panel img{max-width:100%;height:auto;display:block;margin:0 auto}
.tabs-content-panel .tabs-items{padding:0 0 .25rem;display:none;width:auto;height:auto;font-size:.24rem;line-height:1.5}
.tabs-content-panel .tabs-items.fadeIn{display:block}
.de-param-table{width:auto;height:auto;overflow:hidden}
.de-param-table .table-title{position:relative;width:auto;height:.6rem;overflow:hidden;font-size:.28rem;line-height:.6rem;color:#666}
.middle-line{position:absolute;top:.3rem;display:block;width:38%;height:1px;background:#ddd}
.middle-line.left{left:0}
.middle-line.right{right:0}
.de-param-table .table-body{margin:.05rem .19rem 0;width:auto;display:table;border-collapse:collapse;border:1px solid #ddd}
.table-row-group{display:table-row-group}
.table-row{display:table-row}
.table-cell{display:table-cell;height:.66rem;font-size:.24rem;line-height:.66rem;color:#666;border-bottom:1px solid #ddd}
.table-cell:first-child{width:1.68rem;text-align:center;border-right:1px solid #ddd}
.table-cell:last-child{padding-left:.2rem;width:5.04rem}
.fix-drag{position:fixed;z-index:999999;right:.1rem;top:1rem;bottom:1.5rem;width:1.2rem;height:1.36rem;background:url(../image/server.png) center center no-repeat;-webkit-background-size:1.2rem 1.36rem;background-size:1.2rem 1.36rem}
.drag{-webkit-transition:all .8s;-moz-transition:all .8s;transition:all .8s}
#p_main_pic .swiper-slide{width:7.5rem;line-height:7.5rem;text-align:center;vertical-align:middle;font-size:0}
#p_main_pic .swiper-slide img{display:inline-block}
header~section#scroll-wrapper.de-section{top:0!important}